@layer base, syntax-highlighting, theme;

@layer base {
	/* Defaults */
	:root {
		--font-family: -apple-system, system-ui, sans-serif;
		--font-family-monospace: JetBrains Mono, Consolas, Menlo, Monaco,
			Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L,
			Courier New, Courier, monospace;
	}

	/* Theme colors */
	:root {
		--headfoot__background-color: #222;

		--background-color: #fff;

		--text-color: #333;
		--text-color-header: #e0e0e0;
		--text-color-link: #1170a6;
		--text-color-link-active: #1170a6;
		--text-color-link-visited: #1170a6;
		--text-color-header-link: #4596c4;
		--text-color-header-link-active: #4596c4;
		--text-color-header-link-visited: #4596c4;
		--text-color-special-link: #d90009;
		--text-color-special-link-active: #d90009;
		--text-color-special-link-visited: #d90009;
		--text-color-header-special-link: #f82028;
		--text-color-header-special-link-active: #f82028;
		--text-color-header-special-link-visited: #f82028;
		--text-color-figcaptions: #808080;

		--icon-color-fill: #828282;

		--background-color-code-inline: #eee;
		--border-color-code-inline: #ccc;

		--syntax-tab-size: 2;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--background-color: #020202;

			--text-color: #dad8d8;
			--text-color-link: #a68dff;
			--text-color-link-active: #a68dff;
			--text-color-link-visited: #a68dff;
			--text-color-header-link: #a68dff;
			--text-color-header-link-active: #a68dff;
			--text-color-header-link-visited: #a68dff;
			--text-color-special-link: #ff27a6;
			--text-color-special-link-active: #ff27a6;
			--text-color-special-link-visited: #ff27a6;
			--text-color-header-special-link: #ff27a6;
			--text-color-header-special-link-active: #ff27a6;
			--text-color-header-special-link-visited: #ff27a6;

			--background-color-code-inline: #222;
			--border-color-code-inline: #555;
		}
	}

	/* Global stylesheet */
	* {
		box-sizing: border-box;
	}

	html,
	body {
		padding: 0;
		margin: 0 auto;
		font-family: var(--font-family);
		font-size: 18px;
		color: var(--text-color);
		background-color: var(--background-color);
	}
	html {
		overflow-y: scroll;
	}
	.content {
		max-width: 36rem;
		margin: 0 auto;
	}
	.content h1 {
		font-size: 2.5rem;
		color: var(--text-color-special-link);
		font-weight: bold;
		letter-spacing: -1px;
		line-height: 0.9;
		text-transform: uppercase;
	}
	.content h2 {
		margin-block-start: 2.5rem;
		margin-block-end: 1rem;
	}

	/* https://www.a11yproject.com/posts/how-to-hide-content/ */
	.visually-hidden {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	p {
		line-height: 1.5;
	}

	li {
		line-height: 1.5;
	}

	a[href] {
		padding: 0.75rem 0;
		color: var(--text-color-link);
		text-decoration-thickness: 1px;
		text-underline-offset: 0.1em;
	}
	a[href]:visited {
		color: var(--text-color-link-visited);
	}
	a[href]:hover,
	a[href]:active {
		color: var(--text-color-link-active);
	}

	main {
		padding: 1.5rem 1rem 1rem 1rem;
	}
	main :first-child {
		margin-top: 0;
	}

	.links-nextprev {
		list-style: none;
		border-top: 1px dashed #e0e0e0;
		padding: 1em 0;
	}

	table {
		margin: 1em 0;
	}
	table td,
	table th {
		padding-right: 1rem;
	}
	pre:not([class*="language-"]) {
		margin: 0.5em 0;
		line-height: 1.375; /* 22px /16 */
		-moz-tab-size: var(--syntax-tab-size);
		-o-tab-size: var(--syntax-tab-size);
		tab-size: var(--syntax-tab-size);
		-webkit-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
		direction: ltr;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
	}
	:not(pre) > code {
		font-size: 90%;
		font-family: var(--font-family-monospace);
		padding: 0.125em 0.25em;
		background-color: var(--background-color-code-inline);
		border: 1px solid var(--border-color-code-inline);
	}
}

@layer theme {
	/* Pictures */
	figure {
		margin: 0 0 1.5rem 0;
	}
	figcaption {
		text-align: center;
		margin-top: 0.5rem;
		font-size: 90%;
		color: var(--text-color-figcaptions);
	}

	/* Header */
	header {
		background-color: var(--headfoot__background-color);
		padding: 0.5rem 1rem;
		color: var(--text-color-header);
	}
	header .content {
		display: flex;
		gap: 0 0.5rem;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
	}
	.home-link {
		font-size: 1.5rem;
		font-weight: 700;
		margin-right: 2rem;
		padding: 0.75rem 0;
		text-decoration: none;

		.name {
			color: var(--text-color-header);
		}
		.surname {
			color: var(--text-color-header-special-link);
		}
	}
	.home-link:link:not(:hover) {
		text-decoration: none;
	}

	/* Nav */
	.nav {
		display: flex;
		padding: 0;
		margin: 0 0 0 -0.5rem;
		list-style: none;
	}
	.nav-item {
		display: inline-block;
		/* margin-right: 1rem; */
		text-underline-offset: 0.25em;
	}
	.nav-item a {
		padding: 0.75rem 0.5rem;
		display: block;
	}
	.nav-item a:not(:hover) {
		text-decoration: none;
	}
	.nav a[aria-current="page"] {
		text-decoration: underline;
	}

	/* Posts list */
	.postlist {
		list-style: none;
		padding: 0;
	}
	.postlist-item {
		margin-bottom: 2rem;
	}

	.postlist-date,
	.postlist-item:before {
		font-size: 0.8125rem; /* 13px /16 */
		color: var(--color-gray-90);
	}
	.postlist-date {
		word-spacing: -0.5px;
	}
	.postlist-link {
		font-size: 1.5rem;
		font-weight: 700;
		flex-basis: calc(100% - 1.5rem);
		text-decoration: none;
		letter-spacing: -1px;
		line-height: 1.2;
		display: block;
		/* text-underline-position: from-font;
		text-underline-offset: 4px;
		text-decoration-thickness: 1px; */
	}
	.postlist-image {
		display: block;
		margin-top: 1rem;
	}
	.postlist-link[href] {
		color: var(--text-color-special-link);
	}
	.postlist-link[href]:active {
		color: var(--text-color-special-link-active);
	}
	.postlist-link[href]:visited {
		color: var(--text-color-special-link-visited);
	}
	.postlist-item-active .postlist-link {
		font-weight: bold;
	}
	.postlist-button {
		display: inline-block;
		color: var(--text-color-link);
		border: 1px solid var(--text-color-link);
		padding: 0.35rem 0.75rem;
		border-radius: 0.3rem;
		text-decoration: none;
		font-size: 90%;
	}

	/* Post page */
	.post-back a {
		text-decoration: none;
	}

	/* Post list image */
	@media screen and (min-width: 620px) {
		.postlist-image {
			max-width: 45%;
			float: left;
			margin-right: 1rem;
		}
	}

	/* About page */
	@media (min-width: 620px) {
		.about-face {
			float: left;
			margin: 0 1rem 0.5rem 0;
			width: 250px;
		}
	}

	/* Contact */
	.contact-lists ul {
		list-style-type: none;
		padding: 0;
	}
	.contact-lists a {
		display: inline-flex;
		gap: 0.5em;
		text-decoration: none;
		align-items: baseline;
	}
	.icon {
		display: inline-block;
		width: 16px;
		height: 16px;
	}
	.icon path {
		fill: var(--icon-color-fill);
	}

	/* Tags */
	.post-tag {
		text-transform: capitalize;
		font-style: italic;
		padding: 0.25rem 0;
	}
	.postlist-item > .post-tag {
		align-self: center;
	}
	.postlist-item > p {
		margin-bottom: 1.15rem;
	}

	/* Tags list */
	.post-metadata {
		display: block;
		list-style: none;
		padding: 0;
		margin: 0 0 1.75rem 0;
	}
	.post-metadata li {
		display: inline-block;
	}
	.post-metadata time {
		margin-right: 1rem;
	}

	/* Direct Links / Markdown Headers */
	.header-anchor {
		text-decoration: none;
		font-style: normal;
		font-size: 1rem;
		margin-left: 0.1rem;
	}
	a.header-anchor,
	a.header-anchor:visited {
		color: transparent;
	}
	a.header-anchor:focus,
	a.header-anchor:hover {
		text-decoration: underline;
		text-decoration-thickness: 2px;
	}
	a.header-anchor:focus,
	:hover > a.header-anchor {
		color: #aaa;
	}

	h2 + .header-anchor {
		font-size: 1.5rem;
	}

	/* ------------ My custom ------------- */

	main img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	header a {
		color: var(--text-color-header-link);
	}
	pre,
	code {
		font-family: var(--font-family-monospace);
		font-size: 90%;
	}
}
