{% set firstImage = true %}
<section class="postlist">
{% for post in postslist | reverse %}
	{% set imageHTML = post.templateContent | extractImage(firstImage) %}	
	{% set articleModifier = 'postlist-item--no-image' if imageHTML=='' else 'postlist-item--with-image' %}
	<article class="postlist-item {{ articleModifier }}">
		<a href="{{ post.url }}" class="postlist-link">
			<h1 class="postlist-title">
				{% if post.data.title %}{{ post.data.title }}
				{% else %}
					<code>{{ post.url }}</code>
				{% endif %}
			</h1>
			{{ post.templateContent | extractImage(firstImage) | safe }}
			{% set firstImage = false %}
			{% if post.data.description %}
				<p class="postlist-description">{{ post.data.description }}</p>
			{% endif %}
			<div class="postlist-buttonslot">
				<span class="postlist-button">Read more &rarr;</span>
			</div>
		</a>
		{# <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>#}
	</article>
{% endfor %}
</section>
