{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
{% set firstImage = true %}
<ol reversed class="postlist">
{% for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<a href="{{ post.url }}" class="postlist-image-link">
			{{ post.templateContent | extractImage(firstImage) | safe }}
			{% set firstImage = false %}
		</a>
		{% if post.data.description %}<p>{{ post.data.description }}</p>{% endif %}</a>
		<a href="{{ post.url }}" class="postlist-button">Read more &rarr;</a>
		{# <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>#}
	</li>
{% endfor %}
</ol>
