---
permalink: /it/tags/
layout: layouts/home.njk
---
<h1>Tag</h1>

<ul>
{% for tag in collections.posts_it | getAllTags | filterTagList %}
	{% set tagUrl %}{{ ("/tags/" + (tag | slugify) + "/") | locale_url }}{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
