---
layout: layouts/home.njk
eleventyNavigation:
  key: Talk
  order: 3
---

<nav class="post-back post-back--top">
	<a href="{{ '/' | locale_url }}">&larr; {{ strings[page.lang].backToHome }}</a>
</nav>

<h1>Talk</h1>

{% set postslist = collections.posts__talks_it %}
{% include "postslist.njk" %}
