---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog
  order: 2
---

<nav class="post-back post-back--top">
	<a href="/">&larr; Home page</a>
</nav>

<h1>Blog</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
