---
pagination:
  data: collections.tags_en
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /en/tags/{{ tag | slugify }}/
---
<h1>Tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] | filterByLang("en") %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | locale_url }}">all tags</a>.</p>
