---
layout: layouts/home.njk
eleventyNavigation:
  key: Talks
  order: 3
---

<nav class="post-back post-back--top">
	<a href="/">&larr; Home page</a>
</nav>

<h1>Talks</h1>

{% set postslist = collections.posts__talks %}
{% include "postslist.njk" %}
